<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Technology - BBC News</title>
    <link rel="icon" type="image/x-icon" href="images/bbc-logo.jpg" />
    <link rel="stylesheet" href="css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search"
    />
  </head>
  <body>
    <div id="topbar-section">
      <img src="images/News Logo.png" id="bbc_logo" class="navbar-brand" />

      <div id="navlinks">
        <a class="nav-link" href="#">Home</a>
        <a class="nav-link" href="#">News</a>
        <a class="nav-link" href="#">Sport</a>
      </div>

      <div class="right-section">
        <div class="sign-in">
          <img src="images/person.PNG" id="person_image" />
          <a href="#" class="nav-link">Sign In</a>
        </div>
        <form action="">
          <div class="search">
            <span class="search-icon material-symbols-outlined">search</span>
            <input class="search-input" type="search" placeholder="Search" />
          </div>
        </form>
      </div>
    </div>

    <br />

    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <a href="#"
            ><img src="images/twitter_image.jpg.webp" id="twitter-image"
          /></a>

          <div class="twitter-news-content">
            <h2>
              <a href="#">Blue ticks dissapear as Musk attacks NY Times</a>
            </h2>

            <p class="small">
              The New York Times Twitter account has lost its blue tick after it
              said it would not pay to stay verified.
            </p>

            <a href="#"
              ><img src="images/clock.PNG" id="clock" />

              <div class="content-2"><span class="txt">1d</span></div></a
            >

            <div id="cont-2"><a href="#">Technology</a></div>

            <div class="clear"></div>

            <div class="other-links">
              <ul>
                <li>
                  <a href="#"
                    >How Elon Musk's tweets unleashed a wave of hate</a
                  >
                </li>
                <li>
                  <a href="#"
                    >The banned haters back on Twitter - BBC investigation</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="image-cards">
            <a href="#"
              ><img src="images/chatgpt.jpg.webp" class="container-images"
            /></a>

            <p>
              <a href="#" class="container-links"
                >ChatGPT chatbot banned in Italy</a
              >
            </p>

            <span class="img-texts"
              >The country's data protection regulator has serious privacy
              concerns over the technology.</span
            >

            <div class="date">
              <a href="#"
                ><img src="images/clock.PNG" id="clock" />

                <div class="content-3"><span class="txt">2d</span></div></a
              >

              <div id="cont-3"><a href="#">Technology</a></div>
            </div>
          </div>

          <div class="image-cards">
            <a href="#"
              ><img src="images/trump_anger.jpg.webp" class="container-images"
            /></a>

            <p>
              <a href="#" class="container-links"
                >Anger and anxiety - inside pro-Trump online networks</a
              >
            </p>

            <span class="img-texts"
              >Donald Trump called on his supporters to protest about his
              indictment - so how are they responding?</span
            >

            <div class="date">
              <a href="#"
                ><img src="images/clock.PNG" id="clock" />

                <div class="content-3"><span class="txt">1d</span></div></a
              >

              <div id="cont-3"><a href="#">US & Canada</a></div>
            </div>
          </div>

          <div class="image-cards">
            <a href="#"
              ><img
                src="images/console_games.jpg.webp"
                class="container-images"
            /></a>

            <p>
              <a href="#" class="container-links"
                >E3 annual video game showcase event cancelled</a
              >
            </p>

            <span class="img-texts"
              >It had been due to return as an in-person event in Los Angeles
              for the first time in four years in June.</span
            >

            <div class="date">
              <a href="#"
                ><img src="images/clock.PNG" id="clock" />

                <div class="content-3"><span class="txt">3d</span></div></a
              >

              <div id="cont-3"><a href="#">Technology</a></div>
            </div>
          </div>

          <div class="image-cards">
            <a href="#"
              ><img
                src="images/millie_houton.jpg.webp"
                class="container-images"
            /></a>

            <p>
              <a href="#" class="container-links"
                >Driver uses AI chatbot to win parking fine appeal</a
              >
            </p>

            <span class="img-texts"
              >The 22-year-old turned to a chatbot to give her a "professional"
              letter to appeal her parking fine.</span
            >

            <div class="date">
              <a href="#"
                ><img src="images/clock.PNG" id="clock" />

                <div class="content-3"><span class="txt">3d</span></div></a
              >

              <div id="cont-3"><a href="#">York & North Yorkshire</a></div>
            </div>
          </div>

          <div class="image-cards">
            <a href="#"
              ><img
                src="images/branson_rocket.jpg.webp"
                class="container-images"
            /></a>

            <p>
              <a href="#" class="container-links"
                >Branson's rocket company cuts majority of workforce</a
              >
            </p>

            <span class="img-texts"
              >Virgin Orbit will cease operations for the foreseeable future,
              according to media reports.</span
            >

            <div class="date">
              <a href="#"
                ><img src="images/clock.PNG" id="clock" />

                <div class="content-3"><span class="txt">3d</span></div></a
              >

              <div id="cont-3"><a href="#">Business</a></div>
            </div>
          </div>

          <div class="image-cards">
            <a href="#"
              ><img src="images/japan_ai.jpg.webp" class="container-images"
            /></a>

            <p>
              <a href="#" class="container-links"
                >Japan plans to restrict some chip-making exports</a
              >
            </p>

            <span class="img-texts"
              >The measures which are planned to take effect in july, follow
              similar moves by the Us and the Netherlands.</span
            >

            <div class="date">
              <a href="#"
                ><img src="images/clock.PNG" id="clock" />

                <div class="content-3"><span class="txt">3d</span></div></a
              >

              <div id="cont-3"><a href="#">Business</a></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 second-news-pack">
          <div class="image-cards resize">
            <a href="#"
              ><img
                src="images/cashapp_founder.png.webp"
                class="container-images"
            /></a>

            <p>
              <a href="#" class="container-links"
                >Cash App founder killed in San Francisco stabbing</a
              >
            </p>

            <div class="date">
              <a href="#"
                ><img src="images/clock.PNG" id="clock" />

                <div class="content-3"><span class="txt">10h</span></div></a
              >

              <div id="cont-3"><a href="#">US & Canada</a></div>
            </div>
          </div>

          <div class="image-cards resize">
            <a href="#"
              ><img
                src="images/book_depository.png.webp"
                class="container-images"
            /></a>

            <p>
              <a href="#" class="container-links"
                >Amazon closing UK-based online shop Book Depository</a
              >
            </p>

            <div class="date">
              <a href="#"
                ><img src="images/clock.PNG" id="clock" />

                <div class="content-3"><span class="txt">1d</span></div></a
              >

              <div id="cont-3"><a href="#">Business</a></div>
            </div>
          </div>

          <div class="image-cards resize">
            <a href="#"
              ><img src="images/terry_gou.jpg.webp" class="container-images"
            /></a>

            <p>
              <a href="#" class="container-links"
                >Foxconn founder in fresh run for Taiwan presidency</a
              >
            </p>

            <div class="date">
              <a href="#"
                ><img src="images/clock.PNG" id="clock" />

                <div class="content-3"><span class="txt">1d</span></div></a
              >

              <div id="cont-3"><a href="#">Business</a></div>
            </div>
          </div>

          <div class="image-cards resize">
            <a href="#"
              ><img src="images/tiktok.jpg.webp" class="container-images"
            /></a>

            <p>
              <a href="#" class="container-links"
                >Tiktok fined &pound;12.7M for misusing children's data</a
              >
            </p>

            <div class="date">
              <a href="#"
                ><img src="images/clock.PNG" id="clock" />

                <div class="content-3"><span class="txt">1d</span></div></a
              >

              <div id="cont-3"><a href="#">UK</a></div>
            </div>
          </div>

          <div class="image-cards resize">
            <a href="#"
              ><img src="images/tesla_car.jpg.webp" class="container-images"
            /></a>

            <p>
              <a href="#" class="container-links"
                >Tesla told to pay ex-worker $3.2m over racism case</a
              >
            </p>

            <div class="date">
              <a href="#"
                ><img src="images/clock.PNG" id="clock" />

                <div class="content-3"><span class="txt">2d</span></div></a
              >

              <div id="cont-3"><a href="#">Business</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br /><br />

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
      integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
      integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
