<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>News Portal</title>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="style.css">
    
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <style>
        #post-list:empty:after {
            content: "No post listed yet.";
            color: gray;
            text-align: center;
            font-style: italic;
            width: 100%;
        }
    </style>
</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- Header Area -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">News Portal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#">World</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Technology</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Sports</a></li>
            </ul>
        </div>
    </nav>

    <!-- Main Content Area -->
    <div class="container mt-4">
        <!-- Placeholder for Messages -->
        <div id="message-container">
            <div class="alert alert-success w-100 rounded-0 mb-2">
                <div class="d-flex w-100">
                    <div class="col-auto flex-shrink-1 flex-grow-1">Welcome to the News Portal!</div>
                    <div class="col-auto text-center">
                        <button class="close" onclick="$(this).closest('.alert').remove()">&times;</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Placeholder for Post List -->
        <div id="post-list" class="row">
            <!-- Example Post -->
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="example-image.jpg" alt="Post Image">
                    <div class="card-body">
                        <h5 class="card-title">Post Title</h5>
                        <p class="card-text">This is a short description of the post content.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Area -->
    <footer class="bg-dark text-white text-center py-3">
        <p>&copy; 2024 News Portal. All rights reserved.</p>
    </footer>

    <!-- Bootstrap and Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Custom Script -->
    <script>
        $(function () {
            if ($('#post-list>div').length <= 0) {
                $('#post-list').html('');
            }
        });
    </script>
</body>

</html>
