{% load static %}
<footer class="footer-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-content text-center">
          <div class="footer-nav">
            <ul>
              <li><a href="#">Contact Us</a></li>

              <li><a href="#">Visit our XDBC</a></li>
            </ul>
          </div>

          <div class="footer-social-info">
            <a
              href="https://www.facebook.com/profile.php?id=61565341165769"
              data-toggle="tooltip"
              data-placement="top"
              title="Facebook"
              ><i class="fa fa-facebook" aria-hidden="true"></i
            ></a>
            <a
              href="https://www.linkedin.com/in/utsab-devkota-03b7932a1/"
              data-toggle="tooltip"
              data-placement="top"
              title="Linkedin"
              ><i class="fa fa-linkedin" aria-hidden="true"></i
            ></a>
            <a
              href="http://127.0.0.1:8000/feed/"
              data-toggle="tooltip"
              data-placement="top"
              title="RSS"
              ><i class="fa-solid fa-rss aria-hidden="true"></i
            ></a>
          </div>

          <p class="mb-15">
            Being a gay gives mandeep a huge love and satisfaction. He is a
            gaynormal gay. He loves bisnu. Bishnu is his lifeline.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
